@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-canvas: var(--canvas);
  --color-text-main: var(--text-main);
}

:root {
  --canvas: #ffffff;
  --text-main: #09090b;
}

.dark {
  --canvas: #09090b;
  --text-main: #f4f4f5;
}
