@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-canvas: var(--canvas);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-primary-inverted: var(--text-inverted-primary);
  --color-accent-primary: var(--accent-primary);
}

:root {
  --canvas: #ffffff;
  --text-primary: black;
  --text-secondary: grey;
  --text-inverted-primary: white;
  --accent-primary: #742aff;
}

.dark {
  --canvas: white;
  --text-primary: white;
  --text-secondary: grey;
  --text-inverted-primary: black;
  --accent-primary: #00ffde;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*

  dark: {
    primaryTextColor: "white",
    secondaryTextColor: "grey",
    invertedPrimaryTextColor: "black",
    primaryAccentColor: "#00ffde",
    primaryBackgroundColor: "#121212",
    primaryBorderColor: "white",
    secondaryBackgroundColor: "#2a2a2a",
    tertiaryBackgroundColor: "#5d5d5d",
  },
  light: {
    primaryTextColor: "black",
    secondaryTextColor: "grey",
    invertedPrimaryTextColor: "white",
    primaryAccentColor: "#742aff",
    primaryBackgroundColor: "white",
    primaryBorderColor: "white",
    secondaryBackgroundColor: "#f0f0f0",
    tertiaryBackgroundColor: "#ffffff",
  },


*/
