@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-canvas: var(--canvas);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
}

:root {
  --canvas: #ffffff;
  --text-primary: black;
  --text-secondary: grey;
}

.dark {
  --canvas: white;
  --text-primary: white;
  --text-secondary: grey;
}

/*

  dark: {
    primaryTextColor: "white",
    secondaryTextColor: "grey",
    invertedPrimaryTextColor: "black",
    primaryAccentColor: "#00ffde",
    primaryBackgroundColor: "#121212",
    primaryBorderColor: "white",
    secondaryBackgroundColor: "#2a2a2a",
    tertiaryBackgroundColor: "#5d5d5d",
  },
  light: {
    primaryTextColor: "black",
    secondaryTextColor: "grey",
    invertedPrimaryTextColor: "white",
    primaryAccentColor: "#742aff",
    primaryBackgroundColor: "white",
    primaryBorderColor: "white",
    secondaryBackgroundColor: "#f0f0f0",
    tertiaryBackgroundColor: "#ffffff",
  },


*/
